img{
	width:100px;
	height:80px;
}
h2{
	color:red;
	font-family:courier;
}
h3{
	color: rgb(255, 99, 71);
}
pre{
	 color:#3cb371;
}
#art01{
	background-color: lightgray;
}

#art03{
	background-color: lightgray;
}

#art04{
    border-top: 5px solid black;
}
.definicao{
	font-family: arial;
	padding-left: 10px;
}

.introTitle{
    color: red;
}